
* {
    margin: 0px;
    padding: 0px;
}


body{
    min-height: 100vh;
}

.fundo{ 
  width: 100%;
}

footer{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.3rem;
}

a:hover {
    text-decoration: underline;
}