* {
    margin: 0px;
    padding: 0px;
}

/* navbar */

.logo_img{
    width: 5rem;
}




/* ----- */
body {
    min-height: 100vh;
}

.fundo {
    width: 100%;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.3rem;
}

a:hover {
    text-decoration: underline;
}